@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* Colors */

  /* Primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-main);
}

.container {
  height: calc(100vh - 1.4em);
  width: 100 vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--very-dark-blue-card);
  width: 87%;
  border-radius: 1.7em;
  padding: 2.3em;
  max-width: 35em;
}

.img-wrapper {
  position: relative;
  cursor: pointer;
}

.hero {
  width: 100%;
  border-radius: 1.2em;
}

.color-overlay {
  background-color: hsl(178, 100%, 50%, 50%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.2em;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-overlay:hover {
  opacity: 1;
}

.title {
  color: var(--white);
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 1em;
}

.title:hover {
  color: var(--cyan);
  cursor: pointer;
}

.description {
  color: var(--soft-blue);
  font-size: 1.6em;
  margin-top: 0.8em;
  line-height: 160%;
  font-weight: 300;
}

.price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6em;
  padding-bottom: 1.51em;
  border-bottom: 1px solid var(--very-dark-blue-line);
}

.row-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  gap: 0.5em;
}

.price {
  color: var(--cyan);
  font-weight: 600;
}

.info {
  color: var(--soft-blue);
}

.avatar {
  display: flex;
  align-items: center;
  color: var(--soft-blue);
  font-size: 1.5em;
  font-weight: 400;
  gap: 1em;
  margin-top: 1em;
}

.avatar img {
  width: 2.2em;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.avatar span {
  color: var(--white);
  text-transform: capitalize;
}

.avatar span:hover {
  color: var(--cyan);
  cursor: pointer;
}

.attribution {
  color: var(--white);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--cyan);
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .description {
    margin-top: 1em;
    font-size: 1.8em;
    line-height: 1.5em;
  }

  .price-block {
    margin-top: 2em;
    padding-bottom: 2.5em;
  }

  .avatar {
    padding-bottom: 0.7em;
  }
}
